<!DOCTYPE HTML SYSTEM "about:legacy-compat">
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <style>
            p {
                margin: 0;
                border: 0;
            }
        </style>
    </head>
    <body style="min-width: 100%; background-color: #F3FCEE !important; box-shadow: none !important">
        @RenderBody()
    </body>

</html>
