<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="botDetect" requirePermission="false" type="BotDetect.Configuration.BotDetectConfigurationSection, BotDetect" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="GoogleApiKey" value="AIzaSyCg5A1_oCdCyvIhtesI8ScZdsi-_gVndeM" />
    <add key="CacheDuration" value="5" />
  </appSettings>
  <botDetect>
    <captchaSound enabled="false" />
    <captchaUrls requestPath="/BotDetectCaptcha.ashx" />
  </botDetect>
  <connectionStrings>
    <clear />
    <add name="LocalSqlServer" connectionString="Data Source=ANTON-PC\SQLSERVER2012;Initial Catalog=Kermi_new;User ID=sa;Password=mssql" providerName="System.Data.SqlClient" />
    <add name="MsSqlConnectionString" connectionString="Data Source=ANTON-PC\SQLSERVER2012;Initial Catalog=Kermi_new;User ID=sa;Password=mssql" providerName="System.Data.SqlClient" />
    <add name="SyndicateConnectionString" connectionString="Data Source=ANTON-PC\SQLSERVER2012;Initial Catalog=Kermi_new;User ID=sa;Password=mssql" providerName="System.Data.SqlClient" />
    <add name="OnlineChatConnectionString" connectionString="Data Source=ANTON-PC\SQLSERVER2012;Initial Catalog=OnlineChat;User ID=sa;Password=mssql" providerName="System.Data.SqlClient" />
<!--
    <add name="LocalSqlServer" connectionString="Data Source=ms-sql-8.in-solve.ru;Initial Catalog=1gb_kermi-ftv;User ID=1gb_kermi-ftv;Password=075a0a387hj" providerName="System.Data.SqlClient" />
    <add name="MsSqlConnectionString" connectionString="Data Source=ms-sql-8.in-solve.ru;Initial Catalog=1gb_kermi-ftv;User ID=1gb_kermi-ftv;Password=075a0a387hj" providerName="System.Data.SqlClient" />
    <add name="SyndicateConnectionString" connectionString="Data Source=ms-sql-8.in-solve.ru;Initial Catalog=1gb_kermi-ftv;User ID=1gb_kermi-ftv;Password=075a0a387hj" providerName="System.Data.SqlClient" />
    <add name="OnlineChatConnectionString" connectionString="Data Source=ms-sql-8.in-solve.ru;Initial Catalog=1gb_kermi-ftv;User ID=1gb_kermi-ftv;Password=075a0a387hj" providerName="System.Data.SqlClient" />
-->

  </connectionStrings>
  <system.web>
    
    <globalization uiCulture="ru-RU" culture="ru-RU" />
    <authentication mode="Forms">
      <forms protection="All" cookieless="UseCookies" timeout="6000" slidingExpiration="true" />
    </authentication>
    <httpRuntime executionTimeout="36000" maxRequestLength="512000"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0" enableSessionState="true">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="System.Data.Linq" />
        <add namespace="Smoking.Models" />
        <add namespace="Smoking.Extensions" />
        <add namespace="Smoking.Extensions.Helpers" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="MsSqlConnectionString" applicationName="/" />
      </providers>
    </profile>
    <machineKey decryption="AES" decryptionKey="2f4467921e3ccd670156abd4462a9f7c4d125675ac309347" />
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="MsSqlConnectionString" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="2147483647" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" passwordFormat="Encrypted" />
      </providers>
    </membership>
    <roleManager enabled="true">
      <providers>
        <add connectionStringName="MsSqlConnectionString" applicationName="/" name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider" cookieless="AutoDetect" timeout="2000" sessionIDManagerType="BotDetect.Web.CustomSessionIdManager, BotDetect">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="MsSqlConnectionString" />
      </providers>
    </sessionState>
    <httpHandlers>
      <add verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="WebFromsToMVC" stopProcessing="true">
          <match url="^(.*?)\.aspx\?*?.*$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="{R:1}" />
        </rule>
<!--
        <rule name="Rewrite Rule">
          <match url=".*" />
          <conditions>
            <add input="{StaticRewrites:{REQUEST_URI}}" pattern="(.+)" />
          </conditions>
          <action type="Rewrite" url="{C:1}" />
        </rule>
-->
      </rules>
<!--
      <rewriteMaps>
        <rewriteMap name="StaticRewrites">
          <add key="/sitemap.xml" value="/Master/ru/SiteMap" />
        </rewriteMap>
      </rewriteMaps>
-->
    </rewrite>
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="BotDetectCaptchaHandler" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="BotDetectCaptchaHandler" preCondition="integratedMode" verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>